*.o
stackjit
amd64-test
vm-test
tests/runners/*
*.jit
*.s
*.sublime-workspace
*.sublime-project
.idea
Windows.old/Debug
Windows.old/x64
Windows.old/ipch
Windows.old/StackJIT.opensdf
Windows.old/StackJIT.sdf
Windows.old/tests/x64
Windows.old/StackAssembler/x64
*.simg
Windows
Linux
lib
bin
