*.o
stackjit
amd64-test
vm-test
tests/runners/*
*.jit
*.s
*.sublime-workspace
*.sublime-project
.idea
Windows/Debug
Windows/x64
Windows/ipch
Windows/StackJIT.opensdf
Windows/StackJIT.sdf
Windows/tests/x64
